<div class="col-10 justify-content-center" id="edit_page">
  <div class="card p-3" style="width: 40rem;">
    <div class="card-header">
      <h1>Edit Pic</h1>  
    </div>
    <div class="card-body">
      <div class="current_image"><strong>Current Pic</strong>
        <%= link_to (image_tag @pic.image.url(:medium)) %>
      </div>
      <%= render 'form' %>  
    </div>
  </div>
</div>