<div class="col-sm-6 ml-sm-auto mr-sm-auto text-center">
 <div id="pics" class="transitions-enabled"></div> 
    <% @pics.each do |pic| %>
    <div class="card">
      <%= link_to (image_tag pic.image.url, size: "523x600"), pic_path(pic) %>
      <h2><%= link_to pic.title, pic %></h2>
      <p><%= truncate(pic.description, length: 150) %></p>
      <p><%= time_ago_in_words(pic.created_at) %> ago</p>
    </div>
    <% end %>
  </div>
</div>